<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>first</servlet-name>
    <servlet-class>it.morfoza.quickstart.FirstServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>withjsp</servlet-name>
    <servlet-class>it.morfoza.quickstart.WithJspServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>calculator</servlet-name>
    <servlet-class>it.morfoza.quickstart.CalculatorServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>java8</servlet-name>
    <servlet-class>it.morfoza.quickstart.Java8Servlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>jstl</servlet-name>
    <servlet-class>it.morfoza.quickstart.STLServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>first</servlet-name>
    <url-pattern>/first</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>withjsp</servlet-name>
    <url-pattern>/second</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>calculator</servlet-name>
    <url-pattern>/calculator</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>java8</servlet-name>
    <url-pattern>/java8</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>jstl</servlet-name>
    <url-pattern>/jstl</url-pattern>
  </servlet-mapping>

</web-app>


