<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
  <display-name>Archetype Created Web Application</display-name>

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>first</servlet-name>
    <servlet-class>it.morfoza.quickstart.FirstServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>withjsp</servlet-name>
    <servlet-class>it.morfoza.quickstart.WithJspServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>calculator</servlet-name>
    <servlet-class>it.morfoza.quickstart.CalculatorServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>java8</servlet-name>
    <servlet-class>it.morfoza.quickstart.Java8Servlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>jstl</servlet-name>
    <servlet-class>it.morfoza.quickstart.STLServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>listbooksclassic</servlet-name>
    <servlet-class>it.morfoza.quickstart.library.classic.ListBooksServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>listbooksspring</servlet-name>
    <servlet-class>it.morfoza.quickstart.library.spring.ListBooksServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>jndi</servlet-name>
    <servlet-class>it.morfoza.quickstart.jndi.JNDIServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>first</servlet-name>
    <url-pattern>/first</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>withjsp</servlet-name>
    <url-pattern>/second</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>calculator</servlet-name>
    <url-pattern>/calculator</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>java8</servlet-name>
    <url-pattern>/java8</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>jstl</servlet-name>
    <url-pattern>/jstl</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>listbooksclassic</servlet-name>
    <url-pattern>/library/classic/books</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>listbooksspring</servlet-name>
    <url-pattern>/library/spring/books</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>listbooksdb</servlet-name>
    <servlet-class>it.morfoza.quickstart.library.database.ListBooksServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>listbooksdb</servlet-name>
    <url-pattern>/library/db/books</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>listbooksjpa</servlet-name>
    <servlet-class>it.morfoza.quickstart.library.jpa.ListBooksServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>listbooksjpa</servlet-name>
    <url-pattern>/library/jpa/books</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>jndi</servlet-name>
    <url-pattern>/jndi</url-pattern>
  </servlet-mapping>

  <resource-env-ref>
    <description>
      Object factory for MyBean instances.
    </description>
    <resource-env-ref-name>
      bean/MyBeanFactory
    </resource-env-ref-name>
    <resource-env-ref-type>
      it.morfoza.quickstart.jndi.MyBean
    </resource-env-ref-type>
  </resource-env-ref>

  <resource-env-ref>
    <description>
      Object factory for MyBean instances.
    </description>
    <resource-env-ref-name>
      bean/MyBeanFactory2
    </resource-env-ref-name>
    <resource-env-ref-type>
      java.lang.Object
    </resource-env-ref-type>
  </resource-env-ref>


</web-app>


